################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ViewModels/obj/Release/netcoreapp3.0
/ViewModels/obj/Debug/netcoreapp3.0
/ViewModels/obj
/Library.SysFuncs/obj/Debug/netcoreapp3.1
/Library.SysFuncs/obj/Release/netcoreapp3.1
/CliEncrypt/obj
/comDal/obj
/Controllers/App.AppSysController/obj
/Controllers/WMS.MasterDataController/obj
/Controllers/WMS.RawMaterialCotroller/obj
/Dal
/ErpCode.AuthorDal/obj
/ErpCode.BaseApiController/obj
/ErpCode.Com/obj
/ErpCode.Identity.Server/obj
/ErpCode.UserDal/obj
/ErpCodeApi/obj
/ErpCodeAppDal/obj
/ErpCodeLibrary/obj
/ErpModels/obj
/ErpRptModels/obj
/LibAnalyzeScript/obj
/LibBaseDal/obj
/LibDBContext/obj
/Library.Core/obj
/Library.SysFuncs/obj
/.vs/ErpCodeLibraryNew/v16
/.vs
*.dll
/comDal/bin/Debug/netcoreapp3.0
/Controllers
/ErpCode.AuthorDal/bin/Debug/netcoreapp3.0
/ErpCode.BaseApiController/bin/Debug/netcoreapp3.0
/ErpCode.Com/bin/Debug/netcoreapp3.0
/ErpCode.UserDal/bin/Debug/netcoreapp3.0
/ErpCodeAppDal/bin/Debug/netcoreapp3.0
/ErpCodeLibrary/bin/Debug/netcoreapp3.0
/ErpModels/bin/Debug/netcoreapp3.0
/ErpRptModels/bin/Debug/netcoreapp3.0
/LibBaseDal/bin/Debug/netcoreapp3.0
/LibDBContext/bin/Debug/netcoreapp3.0
/Library.Core/bin/Debug/netcoreapp3.0
/ViewModels/bin/Debug/netcoreapp3.0
